 <!--Title-->

 <section class="description">
    <h4>Contactanos a través del siguiente formulario<span>:</span></h4>
</section>

<!--Form-->

<section class="form-contact">
    
    <form action="https://formspree.io/f/xqknyryq" method="post" class="contact" id="form">

        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" placeholder="Escribe tu nombre">

        <label for="email"><span>*</span> E-mail:</label>
        <input type="email" name="email" id="email" placeholder="Estube tu E-mail" required>

        <label for="subject">Asunto:</label>
        <input type="text" name="subject" id="subject" placeholder="De qué se trata?">

        <label for="message"><span>*</span> Mensaje:</label>
        <textarea type="text" name="message" id="message" placeholder="Escribe lo que quieras" required></textarea>

        <input type="submit" value="Enviar" class="button">
        
    </form>

</section>
