<body>
    <!--Menú de Navegación-->
    <nav>
        <a href="./index.html">
            <h2 id="h2-logo">VIDEOLIST<span>#</span></h2>
        </a>
        <ul id="ul-header">
            <li><a href="#" id="a-header">Menú</a>
                <ul id="ul-desplegable">
                    <li><a href="#" id="a-header">Inicio</a></li>
                    <li><a href="#" id="a-header" class="a-subheader">Listado Video Juegos</a></li>
                    <li><a href="#" id="a-header" class="a-subheader">Sobre Nosotros</a></li>
                    <li><a href="#" id="a-header" class="a-subheader">Contacto</a></li>
                </ul>
            </li>
            <li><a href="#" id="a-header">Login</a></li>
        </ul>
    </nav>
</body>
