<body>
    <!--Menú de Navegación-->
    <nav>
        <a href="./index.html">
            <h2 id="h2-logo"><img src="./assets/images/logo.png" width="70"> GAMELOG</h2>
        </a>
        <ul id="ul-header">
                    <li><a routerLink="./" id="a-header">Inicio</a></li>
                    <li><a routerLink="/videojuegos" id="a-header" class="a-subheader">Listado Video Juegos</a></li>
                    <li><a routerLink="/nosotros" id="a-header" class="a-subheader">Sobre Nosotros</a></li>
                    <li><a routerLink="/contacto" id="a-header" class="a-subheader">Contacto</a></li>
            <li><a routerLink="/login" id="a-header">Login</a></li>
        </ul>
    </nav>
</body>
