<section class="equipo">

    <!--Departamento Fotografos-->

    <h1>NUESTROS GAMERLOG</h1>
    <section class="personas">
        <article class="persona">
            <img src="./assets/images/quienes-somos/imansyah-muhamad-putera-n4KewLKFOZw-unsplash.jpg" class="foto">
            <h5 class="nombre">Nombre Apellido 1<span>.</span></h5>
            <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae vitae ut
                explicabo,
                doloremque rerum illo illum laborum enim, sint aperiam at, placeat ipsum est tenetur omnis atque
                numquam
                quam quia dolor amet voluptatem. Animi, distinctio molestiae modi rem magnam qui. Hic porro nobis
                nemo
                saepe expedita ipsa excepturi totam, obcaecati dicta quos quis consectetur necessitatibus ea
                quisquam
                cumque tempore sint itaque similique! Vel, consectetur.</p>
        </article>
        <article class="persona">
            <img src="./assets/images/quienes-somos/janko-ferlic-1nizzZ-SFw4-unsplash.jpg" class="foto">
            <h5 class="nombre">Nombre Apellido 2<span>.</span></h5>
            <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae vitae ut
                explicabo,
                doloremque rerum illo illum laborum enim, sint aperiam at, placeat ipsum est tenetur omnis atque
                numquam
                quam quia dolor amet voluptatem. Animi, distinctio molestiae modi rem magnam qui. Hic porro nobis
                nemo
                saepe expedita ipsa excepturi totam, obcaecati dicta quos quis consectetur necessitatibus ea
                quisquam
                cumque tempore sint itaque similique! Vel, consectetur.</p>
        </article>
        <article class="persona">
            <img src="./assets/images/quienes-somos/julian-wan-WNoLnJo7tS8-unsplash.jpg" class="foto">
            <h5 class="nombre">Nombre Apellido 3<span>.</span></h5>
            <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae vitae ut
                explicabo,
                doloremque rerum illo illum laborum enim, sint aperiam at, placeat ipsum est tenetur omnis atque
                numquam
                quam quia dolor amet voluptatem. Animi, distinctio molestiae modi rem magnam qui. Hic porro nobis
                nemo
                saepe expedita ipsa excepturi totam, obcaecati dicta quos quis consectetur necessitatibus ea
                quisquam
                cumque tempore sint itaque similique! Vel, consectetur.</p>
        </article>
        <article class="persona">
            <img src="./assets/images/quienes-somos/seth-doyle-uJ8LNVCBjFQ-unsplash.jpg" class="foto">
            <h5 class="nombre">Nombre Apellido 4<span>.</span></h5>
            <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae vitae ut
                explicabo,
                doloremque rerum illo illum laborum enim, sint aperiam at, placeat ipsum est tenetur omnis atque
                numquam
                quam quia dolor amet voluptatem. Animi, distinctio molestiae modi rem magnam qui. Hic porro nobis
                nemo
                saepe expedita ipsa excepturi totam, obcaecati dicta quos quis consectetur necessitatibus ea
                quisquam
                cumque tempore sint itaque similique! Vel, consectetur.</p>
        </article>
    </section>
